################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoAuthJWT
/DemoAuthJWT/bin/Debug/netcoreapp3.1
/DemoAuthJWT/obj
